meteo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="meteo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mesure" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ville" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="nom" type="xs:string" use="required"/>
                  <xs:attribute name="temperature" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:integer">
                        <xs:minInclusive value="-50"/>
                        <xs:maxInclusive value="60"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="date" type="xs:date" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
